.fa-pencil{
    cursor: pointer;
    &:hover{
        color: #007bff;
    }
}
.input-custom{
    border: 0;
    background: none;
    color: #000;
    &[type="number"]{
        text-align: center;
        font-weight: 700;
        &:disabled{
            color: #fff;
        }
    }
}